<h1>Name: <%=@pirate.name%> Weight: <%=@pirate.weight%> Height: <%=@pirate.height%> </h1>


<h2>Ship Name: <%=@first_ship.name%> Type: <%=@first_ship.type%> Booty: <%=@first_ship.booty%></h2>


<h2><%=@second_ship.name%> Type: <%=@second_ship.type%> Booty: <%=@second_ship.booty%></h2>
